{% extends 'battleshipbase.html' %}
{% load static %}
{% block title %}Battleship{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'battleship.css' %}">
{% endblock %}
{% block main %}
<div class="messageArea">
{% if message %}
<h2>{{message}}</h2>
{% endif %}

{% if startButton %}
<form action="" method="GET">
    <button name="active" value="True">Start Game</button>
</form>
{% endif %}

</div>
<div class="gameArea">
    <div class="battleshipBoard enemy">
        <ul class="y-co-ordinates">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
        </ul>
        <table class="board">
            {% block content1 %}
            {% endblock %}
        </table>
        <ul class="x-co-ordinates">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
        </ul>
    </div>

    <div class="battleshipBoard player">
        <ul class="y-co-ordinates">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
        </ul>
        <table class="board">
            {% block content2 %}
            {% endblock %}
        </table>
        <ul class="x-co-ordinates">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
        </ul>
    </div>
</div>
{% block content3 %}
{% endblock %}
{% endblock %}