.gameTicTacToe {
    display: flex;
    width: 900px;
    justify-content: center;
    flex-wrap: wrap;
}
.board {
    border: 2px solid black;
    background-color: whitesmoke;
}
.board td {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    padding:10px;
}
.error {
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
}
.reset {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.winner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}